@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Regular-Web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-text-color: #ffffff;
  --title-text-color: #252b42;
  --subtitle-text-color: #374754;
  font-family: "Graphik", sans-serif;
  scroll-behavior: smooth;
  background-color: grey;
}

img {
  display: block;
  width: 100%;
}
.button {
  color: var(--header-text-color);
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
